<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
    <style>
        a {
            display: block;
            text-decoration: none;
            background-color: red;
            color: white;
            text-align: center;
            width: 93%;
            margin: 10px auto;
            border-radius: 5px;
            padding: 5px;
            box-sizing: border-box;
            height: 30px;
            font-weight: bold;
            font-size: 15px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        .form {
            width: 500px;
            margin: 0 auto;
            margin-top: 50px;
        }

        .form div {
            margin-bottom: 10px;
            text-align: center;
        }

        .form input,
        .form select,
        button {
            width: 93%;
            height: 30px;
            border-radius: 4px;
            background-color: transparent;
        }

        .form input {
            box-sizing: border-box;
        }

        .new-user {
            margin-top: 15px;
        }

        button {
            background-color: rgb(0, 160, 104);
            color: white;
            font-weight: bold;
            margin-left: 17.5px;
            border: 1px solid transparent;
        }

        .form #first_name,
        .form #last_name,
        .form #birth {
            display: inline-block;
            width: 46%;
        }

        h1 {
            text-align: center;
        }

        .err {
            width: 93%;
            height: 70px;
            background-color: lightgrey;
            margin: 0 auto;
            border-radius: 5px;
        }

        .hidden {
            width: 93%;
            height: 70px;
            margin: 0 auto;
            border-radius: 5px;
        }

        .err p {
            margin: 0;
            padding: 1px;
            color: red;
            font-size: 12px;
        }
    </style>
</head>

<body>
    <div class="form">
        <h1>Register Form</h1>
            <% if (error) { %>
        
                <div class="err">

            <% error.forEach(e => { %>
            
            <p><%= e %></p>
            
            <% }) %>

                    </div>
        
            <% } else { %>

                <div class="hidden"></div>

            <% } %>





        <form action="/register" method="POST">
            <div>
                <input type="text" name="username" placeholder="username">
            </div>

            <div>
                <input type="password" name="password" placeholder="password">
            </div>

            <div>
                <input id="first_name" type="text" name="first_name" placeholder="first name">
                <input id="last_name" type="text" name="last_name" placeholder="last name">
            </div>

            <div>
                <input type="text" name="email" placeholder="email">
            </div>

            <div>
                <input id="birth" type="text" name="birth_place" placeholder="birth place">
                <input id="birth" type="date" name="birth_date">
            </div>

            <div>
                <select name="gender">
                    <option selected disabled value="">--Select Gender--</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>

            <button>Sign Up</button>

        </form>
        <a href="/">Cancel</a>
    </div>
</body>

</html>